<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>center</title>
</head>
<body>
    <h3>Center Page</h3>
    <hr>
    <p>이 개시판은 등록, 삭제, 수정이 가능합니다.</p>


</body>
</html>